requests>=2.2.0
requests-cache
lxml
progressbar
psycopg2
Django
django-tastypie
pytz
django_compressor
BeautifulSoup
django-cors-headers
-e git+https://github.com/juyrjola/NoAho.git#egg=NoAho
django-mptt
django-tastypie-swagger
django-haystack
pysolr
-e git+https://github.com/juyrjola/munigeo@stable#egg=django-munigeo
geopy
Markdown
mimeparse
ansible
django-extensions
django-modeltranslation
django-appconf
-e git+https://github.com/juyrjola/django-popolo#egg=django-popolo
python-dateutil
raven
