requests
requests-cache
lxml
progressbar
psycopg2
Django
django-tastypie
pytz
django_compressor
BeautifulSoup
django-cors-headers
-e git+https://github.com/juyrjola/NoAho.git#egg=NoAho
django-mptt
django-tastypie-swagger
South
ffvideo
