{% extends "subpage_base.html" %}
{% load i18n compress static %}
{% block title %}Tietoa palvelusta{% endblock %}

{% block content %}
<h1>Tietoa palvelusta</h1>

<div class="row">
    <div class="about-info-column span8 offset1">
        <h2>Päätökset</h2>
        <p>Palvelussa voit selata Helsingin kaupungin hallinnossa vireille tulleita asioita ja niiden käsittelyä eri hallintoelimissä. Voit selata asioita aiheiden, alueiden ja asiasanojen mukaan tai katsoa tietyn hallintoelimen kokouksissa käsiteltyjä asialistoja.</p>

        <h4>Päätöksenteon kulku kaupungin hallinnossa</h4>
        <img src="{% static 'img/paatoksenteko_grafiikka.png' %}">
        <div>
            <a href="http://www.hel.fi/paatoksenteko/">Lisätietoja kaupungin päätöksenteosta</a>
        </div>

        <h4>Yleistä palvelusta</h4>
        <p>Päätökset-palvelun sisältö haetaan avoimen <a href="http://dev.hel.fi/apis/openahjo">OpenAhjo-rajapinnan</a> kautta Helsingin kaupungin AHJO-asianhallintajärjestelmästä. Tiedot päivittyvät rajapintaan kerran vuorokaudessa. Palvelun on toteuttanut Helsingin kaupungin tietotekniikkaosaston <a href="http://codeforeurope.net/">Code for Europe</a> -kumppanikoodari Juha Yrjölä. Palvelu on <a href="https://github.com/City-of-Helsinki/openahjo">avointa lähdekoodia</a> ja vapaasti kaikkien tutkittavissa ja paranneltavissa.</p>
    </div>
    <div class="about-feedback-column span3">
        <div class="content">
            <h2>Palaute</h2>
            <h4>Lähetä palautetta</h4>
            <p>Voit lähettää palautetta, kysymyksiä ja kommentteja palvelun käytöstä <a href="http://dev.hel.fi/forum/openahjo">tänne</a>.</p>
            <h4>Ota yhteyttä</h4>
            <p>Palveluun liittyvissä muissa asioissa voit ottaa yhteyttä <a href="mailto:juha.yrjola@forumvirium.fi">Juha Yrjölään</a>.</p>
        </div>
        <div class="content logos">
            <a href="http://dev.hel.fi/"><img src="{% static 'img/hel-heart-dev.png' %}" /></a>
            <a href="http://www.hel.fi/"><img src="{% static 'img/helsinki.png' %}" /></a>
            <a href="http://codeforeurope.net/"><img src="{% static 'img/codeforeurope.png' %}" /></a>
        </div>
    </div>
</div>

{% endblock %}
