{% load static compress %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fi"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/x-icon" href="{% static "img/favicon.ico" %}" />
        <link href="{% static "img/paatokset-icon_57x57.png" %}" rel="apple-touch-icon-precomposed" />
        <link href="{% static "img/paatokset-icon_72x72.png" %}" rel="apple-touch-icon-precomposed" sizes="72x72" />
        <link href="{% static "img/paatokset-icon_114x114.png" %}" rel="apple-touch-icon-precomposed" sizes="114x114" />
        <meta name="viewport" content="width=device-width">
        <meta property="og:locale" content="fi_FI">
{% for prop in meta_properties %}
        <meta property="{{prop.name}}" content="{{prop.content}}">
{% endfor %}
        <title>{% block title %}{% endblock %} | Päätökset | Helsingin kaupunki</title>

        {% compress css %}
        
        {% endcompress %}
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,600italic,700' rel='stylesheet' type='text/css'>
        <!--[if lte IE 8]>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700' rel='stylesheet' type='text/css'>
        <![endif]-->
        <link rel="stylesheet" href="{% static "css/leaflet.css" %}">
        {% compress css %}
        <!-- Main stylesheet -->
        <link rel="stylesheet" href="{% static "css/main.less" %}" type="text/less">
        {% endcompress %}

        <script>
            API_PREFIX = '{{ API_PREFIX }}';
            GEOCODER_API_URL = '{{ GEOCODER_API_URL }}';
            DEBUG = {{ DEBUG }};

            VIEW_URLS = {
                'issue-list': "{% url 'ui.views.issue_list' %}",
                'issue-details': "{% url 'ui.views.issue_details' slug='ID' %}",
                'policymaker-list': "{% url 'ui.views.policymaker_list' %}",
                'policymaker-details': "{% url 'ui.views.policymaker_details' slug='ID' %}"
            };

            CHOSEN_DEFAULTS = {
                no_results_text: "Ei tuloksia haulle "
            };
        </script>

        {% compress js %}
        <script src="{% static "js/vendor/jquery-1.9.1.min.js" %}"></script>
        <script src="{% static "js/vendor/underscore.min.js" %}"></script>
        <script src="{% static "js/vendor/backbone.js" %}"></script>
        <script src="{% static "js/vendor/backbone-tastypie.js" %}"></script>
        <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
        <script src="{% static "js/vendor/modernizr-2.6.2.min.js" %}"></script>
        <script src="{% static "js/vendor/console.min.js" %}"></script>
        <script src="{% static "js/vendor/moment.min.js" %}"></script>
        <script src="{% static "js/vendor/moment-fi.min.js" %}"></script>
        <script src="{% static "js/vendor/chosen.jquery.js" %}"></script>
        <script src="{% static "js/vendor/spin.js" %}"></script>
        <script src="{% static "js/vendor/jquery.spin.js" %}"></script>
        <script src="{% static "js/vendor/jquery.ba-bbq.js" %}"></script>
        {% endcompress %}
        <script type="text/javascript">
            moment.lang('fi');
        </script>
        {% compress js %}
        <script type="text/coffeescript" src="{% static "js/backbone-spinner.coffee" %}"></script>
        <script type="text/coffeescript" src="{% static "js/models.coffee" %}"></script>
        {% endcompress %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
      
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#paatokset-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "ui.views.home_view" %}">PÄÄTÖKSET <sub>beta</sub></a>
          </div>
           
          <div class="navbar-collapse collapse" id="paatokset-navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="{% url "ui.views.issue_list" %}">Asiat</a></li>
                  <li><a href="{% url "ui.views.policymaker_list" %}">Päättäjät</a></li>
                  <li><a href="{% url "ui.views.about" %}">Tietoa palvelusta</a></li>
              </ul>
              <ul class="nav city-link pull-right">
                  <li><a href="#">Helsinki</a></li>
              </ul>
          </div><!--/.nav-collapse -->
           
        </nav>

        {% block content_base %}
        <div class="content-container container">
            {% block content %}{% endblock %}
        </div>
        {% endblock %}

        <footer>
            <div class="container muted">
                <div class="row">
                    <div class="sitemap-section">
                        <h4><a href="{% url "ui.views.issue_list" %}">Asiat</a></h4>
                        <ul>
                            <li><a href="{% url "ui.views.issue_list" %}">Haku</a></li>
                            <li><a href="{% url "ui.views.issue_list_map" %}">Kartalla</a></li>
                        </ul>
                    </div>
                    <div class="sitemap-section">
                        <h4><a href="{% url "ui.views.policymaker_list" %}">Päättäjät</a></h4>
                        <ul>
                            <li><a href="{% url "ui.views.policymaker_details" slug='kvsto' %}">Kaupunginvaltuusto</a></li>
                            <li><a href="{% url "ui.views.policymaker_details" slug='khs' %}">Kaupunginhallitus</a></li>
                        </ul>
                    </div>
                    <div class="sitemap-section">
                        <h4><a href="{% url "ui.views.about" %}">Tietoa palvelusta</a></h4>
                        <ul>
                            <li><a href="{% url "ui.views.about" %}">Yleistä</a></li>
                            <li><a href="http://dev.hel.fi/apis/openahjo/">Palvelun ohjelmointirajapinta (API)</a></li>
                            <li><a href="https://github.com/City-of-Helsinki/openahjo/">Palvelun lähdekoodi</a></li>
                        </ul>
                    </div>
                    <div class="sitemap-section">
                        <ul class="ext-links">
                            <li><a href="http://www.hel.fi/">&gt; Helsingin kaupunki</a></li>
                            <li><a href="http://www.hel.fi/paatoksenteko/">&gt; Helsingin kaupungin päätöksenteko</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
