{% extends "base.html" %}
{% load i18n compress static %}
{% block title %}Etusivu{% endblock %}

{% block content %}
<div class="row">
    <header id="home-header-box" class="span12">
        <div class="left-side">
            <h1><img src="{% static 'img/logo-white.png' %}" alt='Päätökset logo'></h1>
            <p>Löydä juuri sinua kiinnostavat Helsingin kaupungin poliittiset päätökset. Mitä naapurustossasi tapahtuu? Kuka päättää, mitä päätetään ja millä perusteella?</p>
        </div>
        <div class="right-side">
            <form class="form-search">
                <div class="input-append">
                    <input class="span3 search-query" placeholder="Syötä hakusana..." type="text">
                    <button class="btn search-query" type="button">Hae</button>
                </div>
            </form>
            <a class="browse-link" href="{% url 'ui.views.issue_list' %}">Selaa päätöksiä</a>
        </div>
    </header>
</div>

<div class="row">
    <nav id="home-nav-buttons">
        <div class="nav-button span4">
            <a href="{% url 'ui.views.issue_list' %}"><div class="content">
                <h2>Mitkä päätökset?</h2>
                <p>Täältä löydät kaikki kaupungin päätökset ja niihin liittyvät asiakirjat</p>
            </div></a>
        </div>
        <div class="nav-button span4">
            <a href="{% url 'ui.views.issue_list_map' %}"><div class="content">
                <h2>Kartalla</h2>
                <p>Katso omaa aluettasi koskevat päätökset.</p>
            </div></a>
        </div>
        <div class="nav-button span4">
            <a href="{% url 'ui.views.policymaker_list' %}"><div class="content">
                <h2>Päättäjät</h2>
                <p>Missä päätökset tehdään? Selaa päätöksen käsittelijöitä.</p>
            </div></a>
        </div>
    </nav>
</div>

<div class="row" id="home-recent-content">
    <div class="box span6">
        <article class="recent-items">
            <h2>Vasta käsiteltyä</h2>
            <ul class="item-list unstyled">
            </ul>
        </article>
    </div>
    <div class="box span6">
        <article class="latest-meetings">
            <h2>Uusimmat kokoukset</h2>
            <ul class="meeting-list unstyled">
            </ul>
        </article>
    </div>
</div>

<div class="row" id="home-logo-row">
    <div class="span4 hel-heart-dev">
        <div class="logo">
            <a href="http://dev.hel.fi/"><img src="{% static 'img/hel-heart-dev.png' %}" alt="Helsinki loves developers"></a>
        </div>
    </div>
    <div class="span4 helsinki">
        <div class="logo">
            <a href="http://www.hel.fi/"><img src="{% static 'img/helsinki.png' %}" alt="Helsingin kaupunki"></a>
        </div>
    </div>
    <div class="span4 code-for-europe">
        <div class="logo">
            <a href="http://codeforeurope.net/"><img src="{% static 'img/codeforeurope.png' %}" alt="Helsinki Region Infoshare"></a>
        </div>
    </div>
</div>

<script type="text/javascript">
    pm_list_json = {{pm_list_json|safe}};
</script>

{% compress js %}
<script src="{% static "js/home.coffee" %}" type="text/coffeescript"></script>
{% endcompress %}
{% endblock %}
