{% extends "base.html" %}
{% load i18n compress static %}
{% block title %}Etusivu{% endblock %}

{% block content %}
<div class="row">
    <header id="home-header-box" class="span12">
        <div class="left-side">
            <h1>PÄÄTÖKSET</h1>
            <p>Löydä juuri sinua kiinnostavat Helsingin kaupungin poliittiset päätökset. Mitä naapurustossasi tapahtuu? Kuka päättää, mitä päätetään ja millä perusteella?</p>
        </div>
        <div class="right-side">
            <form class="form-search">
                <div class="input-append">
                    <input class="span3 search-query" placeholder="Syötä hakusana..." type="text">
                    <button class="btn search-query" type="button">Hae</button>
                </div>
            </form>
            <a class="browse-link" href="#">Selaa päätöksiä</a>
        </div>
    </header>
</div>

<div class="row">
    <nav id="home-nav-buttons">
        <div class="nav-button span4">
            <a href="#"><div class="content">
                <h2>MITKÄ PÄÄTÖKSET?</h2>
                <p>Täältä löydät kaikki kaupungin päätökset ja niihin liittyvät asiakirjat</p>
            </div></a>
        </div>
        <div class="nav-button span4">
            <a href="#"><div class="content">
                <h2>KARTALLA</h2>
                <p>Katso omaa aluettasi koskevat päätökset.</p>
            </div></a>
        </div>
        <div class="nav-button span4">
            <a href="#"><div class="content">
                <h2>PÄÄTTÄJÄT</h2>
                <p>Missä päätökset tehdään? Selaa päätöksen käsittelijöitä.</p>
            </div></a>
        </div>
    </nav>
</div>

<div class="row" id="home-recent-content">
    <div class="box span6">
        <article class="recent-items">
            <h2>Vasta käsiteltyä</h2>
            <ul class="item-list unstyled">
            </ul>
        </article>
    </div>
    <div class="box span6">
        <article class="latest-meetings">
            <h2>Uusimmat kokoukset</h2>
            <ul class="meeting-list unstyled">
            </ul>
        </article>
    </div>
</div>

<div class="row" id="home-logo-row">
    <div class="span4 hel-heart-dev">
        <div class="logo">
            <img src="{% static 'img/hel-heart-dev.png' %}">
        </div>
    </div>
    <div class="span4 helsinki">
        <div class="logo">
            <img src="{% static 'img/helsinki.png' %}">
        </div>
    </div>
    <div class="span4 hri">
        <div class="logo">
            <img src="{% static 'img/hri.png' %}">
        </div>
    </div>
</div>

<!--

<div class="row" style="margin-bottom: 16px">
    <div class="span9">
    Tietokannassa on tällä hetkellä <strong>{{stats.meeting_count}}</strong> kokousta, <strong>{{stats.agenda_item_count}}</strong> esityslistan kohtaa ja <strong>{{stats.issue_count}}</strong> asiaa. Paikkatieto on määritetty <strong>{{stats.issue_geo_count}}</strong> asialle.
    </div>
</div>

<div class="row">
    <div class="span3 district-input">
        <div class="input-append">
            <label>Kaupunginosa</label>
            <input type="text" placeholder="Syötä kaupunginosa...">
            <span class="add-on" style="display: none"><a class="close" href="#">&times;</a></span>
        </div>
    </div>
    <div class="span3 category-input">
        <div class="input-append">
            <label>Tehtäväluokka</label>
            <input type="text" placeholder="Syötä tehtäväluokka...">
            <span class="add-on" style="display: none"><a class="close" href="#">&times;</a></span>
        </div>
    </div>
    <div class="span3 keyword-input">
        <div class="input-append">
            <label>Hakusana</label>
            <input type="text" placeholder="Syötä hakusana..." disabled>
            <span class="add-on" style="display: none"><a class="close" href="#">&times;</a></span>
        </div>
    </div>
</div>

<div style="margin-top: 10px; margin-bottom: 40px" class="row">
    <div class="span9" id="map" style="height: 300px"></div>
</div>

<div class="row">
    <div class="span9">
        <ul class="unstyled" id="issue-list"></ul>
    </div>
</div>
{% verbatim %}
<script id="issue-list-template" type="text/x-handlebars-template">
    <li>
        <a href="{{details_uri}}"><h3 class="subject">{{subject}}</h3></a>
        {{#if summary}}
        <p class="summary">{{summary}}</p>
        {{/if}}
    </li>
</script>
{% endverbatim %}
-->

{% compress js %}
<script src="{% static "js/home.coffee" %}" type="text/coffeescript"></script>
{% endcompress %}
{% endblock %}
