{% extends "subpage_base.html" %}
{% load i18n compress static %}
{% block title %}Asiat{% endblock %}

{% block content %}
<h1>Selaa asioita</h1>

<div class="row">
    <div class="span10 offset1">
        <div id="issue-list-filter">
            <h2>Rajaus</h2>
            <div class="control-group">
                <label class="span2" style="margin-left: 0" for="text-filter">Hae sisällöstä</label>
                <div class="controls">
                    <input type="text" id="text-filter" placeholder="Syötä teksti...">
                </div>
            </div>
            <div id="category-filter" class="input-prepend">
                <div class="btn-group">
                    <button class="span2 btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>Tehtäväluokka</button>
                    <ul class="dropdown-menu category-list">
                    </ul>
                </div>
                <input class="span3" type="text">
            </div>
            <div id="district-filter" class="input-prepend">
                <div class="btn-group">
                    <button class="span2 btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>Kaupunginosa</button>
                    <ul class="dropdown-menu">
                    </ul>
                </div>
                <input class="span3" type="text">
            </div>
            <div class="control-group">
                <label class="span2" style="margin-left: 0" for="text-filter">Päättäjät</label>
                <div class="controls">
                    <select id="policymaker-filter" class="input-xxlarge" data-placeholder="Syötä päättäjä..." multiple>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row"><div class="span10 offset1" id="issue-list-results">
    <header id="result-count">Löytyi <span class="count"></span> kpl</header>
    <div class="btn-toolbar pull-right">
        <div class="btn-group list-tab-selector" data-toggle="buttons-radio">
            <button class="btn active select-list"><i class="icon-list"></i> Lista</button>
            <button class="btn select-map"><i class="icon-globe"></i> Kartalla</button>
        </div>
    </div>
</div></div>

<div class="row"><div class="span10 offset1" id="issue-list-items-container">
</div></div>

<script id="issue-list-item-template" type="text/template">
    <a href="<%= view_url %>">
    <header>
        <div class="subject"><%- subject %></div>
        <div class="labels">
            <% _.each(label_list, function(label) { %>
                <span class="label label-<%- label.class %>"><%- label.text %></span>
            <% }); %>
        </div>
    </header>
    <% if (typeof search_highlighted != 'undefined') { %>
    <p class="content-excerpt"><%= search_highlighted %></p>
    <% } %>
    </a>
</script>

<script type="text/javascript">
    cat_list_json = {{ cat_list_json|safe }};
    pm_list_json = {{ pm_list_json|safe }};
</script>

{% include "_map_include.html" %}

{% compress js %}
<script type="text/coffeescript" src="{% static 'js/issue-list.coffee' %}"></script>
{% endcompress %}

{% endblock %}
