{% extends "base.html" %}
{% load i18n compress static %}
{% block content %}

<div id="item-details" class="container-fluid">
</div>

{% verbatim %}
<script id="item-template" type="text/x-handlebars-template">
    <div class="row-fluid item-details">
        <div class="span3">
            <ul class="nav nav-list" id="meeting-list">
                {{#if item.past_list}}
                <li class="nav-header">Käsittelyhistoria</li>
                {{/if}}
                {{#each item.past_list}}
                <li {{#is_active}}class="active"{{/is_active}}><a class="meeting-link" data-agenda-item-id="{{id}}" href="#"><div class="committee">{{meeting.committee_name}}</div><div class="date">{{meeting.date_str}}/{{meeting.number}}</div></a></li>
                {{/each}}
                {{#if item.future_list}}
                <li class="nav-header">Tulevat käsittelyt</li>
                {{/if}}
                {{#each item.future_list}}
                <li {{#is_active}}class="active"{{/is_active}}><a class="meeting-link" data-agenda-item-id="{{id}}" href="#"><div class="committee">{{meeting.committee_name}}</div><div class="date">{{meeting.date_str}}/{{meeting.number}}</div></a></li>
                {{/each}}
            </ul>
        </div>
        <div class="span6">
            <h1 class="subject">{{item.subject}}</h1>
            <hr />
            {{#content}}
            <h2>{{type_str}}</h2>
            {{{text}}}
            {{/content}}
        </div>
        <div class="span3">
            <dl>
                <dt>Diaarinumero</dt>
                <dd>{{item.register_id}}</dd>
            </dl>
            {{#if item.geometries}}
            <div class="map"></div>
            {{/if}}
        </div>
    </div>
</script>
{% endverbatim %}


<script>
    window.active_item_id = {{item.id}};
</script>

{% compress js %}
<script src="{% static "js/item.coffee" %}" type="text/coffeescript"></script>
{% endcompress %}

{% endblock %}
