{% extends "policymaker_base.html" %}
{% load i18n compress static %}
{% block title %}{% if policymaker %}{{ policymaker.name }}{% else %}Päättäjät{% endif %}{% endblock %}
{% block content_header %}{% if policymaker %}{{ policymaker.name }}{% else %}Päättäjät{% endif %}{% endblock %}

{% block policymaker_content %}


<div class="policymaker-content">
</div>


<script type="text/template" id="policymaker-list-item-template">
<div class="content">
    <h3><%= title %></h3>
    <% if (icon) { %><i class="fa fa-<%= icon %>"></i><% } %>
</div>
</script>

<script type="text/template" id="policymaker-details-template">
<nav>
    <a href="#" class="organisation-link">Organisaatio</a>
    <a href="#" class="description-link">Tehtävät</a>
    <a href="#" class="meeting-link" data-toggle="collapse" data-target=".meeting-list">Päätökset <i class="toggle-icon"></i></a>
    <ul class="meeting-list collapse in">
    </ul>
</nav>
<div class="meeting-details">
</div>
</script>

<script type="text/template" id="policymaker-meeting-list-item-template">
    <li<% if (is_selected) { %> class="selected"<% } %>><a href="<%= view_url %>"><%- number %>/<%- year %> (<%- date_str %>)</a></li>
</script>

<script type="text/template" id="policymaker-meeting-details-template">
<div class="tab-content">
    <div class="organisation-tab tab-pane">
        /** PLEASE MOVE ORGANISATION CONTENT HERE AND MAKE THIS TAB DEFAULT TAB**/
    </div>
    <div class="meeting-details-tab tab-pane">
            <h2>Organisaatio</h2>
        <ul class="policymaker-organisation">
          <li class="policymaker-underling"><a href="#">Asumisen tuen päällikkö</a></li>
          <li class="policymaker-underling"><a href="#">Psykiatria- ja päihdepalvelujen johtaja</a></li>
          <li class="policymaker-underling"><a href="#">Etelän psykiatria- ja päihdekeskuksen johtaja</a></li>
          <li class="policymaker-underling"><a href="#">Idän psykiatria- ja päihdekeskuksen johtaja</a></li>
          <li class="policymaker-underling"><a href="#">Lännen psykiatria- ja päihdekeskuksen johtaja</a></li>
          <li class="policymaker-underling"><a href="#">Pohjoisen psykiatria- ja päihdekeskuksen johtaja</a></li>
          <li class="policymaker-underling"><a href="#">Psykiatrian ja päihdehuollon erityispalvelujen päällikkö</a></li>
          <li class="policymaker-underling"><a href="#">Johtajapsykiatri</a></li>
        </ul>
        <nav>
            <h3>Kokous</h3>
            <div class="back-fwd">
                <% if (prev_meeting) { %>
                <a class="previous-meeting" href="<%= prev_meeting %>">‹‹ edellinen kokous</a>
                <% } else { %>
                <span class="disabled">‹‹ edellinen kokous</span>
                <% } %> |
                <% if (next_meeting) { %>
                <a class="next-meeting" href="<%= next_meeting %>">seuraava kokous ››</a>
                <% } else { %>
                <span class="disabled">seuraava kokous ››</span>
                <% } %>
            </div>
        </nav>
        <article>
            <header>
                <h1><%- policymaker_name %> <%- number %>/<%- year %></h1>
                <time datetime="<%- date %>"><%- date_str %></time>
            </header>
            <ol>
                <% _.each(agenda_items, function (ai) { %>
                <li><a href="<%= ai.permalink %>">
                    <header class="item-header">
                        <div class="index"><%- ai.index %></div>
                        <div class="subject"><%- ai.subject %></div>
                    </header>
                    <% if (ai.summary) { %><p><%- ai.summary %></p><% } %>
                </a></li>
                <% }); %>
            </ol>
        </article>
    </div>
    <div class="description-tab tab-pane">
        <h2>Tehtävät</h2>
        <%= policymaker.summary %>
    </div>
</div>
</script>

{% endblock %}
