{% extends "subpage_base.html" %}
{% load static compress %}

{% block extra_head %}
<script type="text/javascript">
    policymakers = {{pm_list_json|safe}}
</script>
{% endblock %}

{% block content %}

  <div class="content-header-content">
    <h1 class="policymaker-heading">{% block content_header %}{% endblock %}</h1>
    
    <ul class="nav-disabled nav-pills-disabled policymaker-nav-disabled">
    </ul>
    
    <div class="policy-breadcrumb-navi">
      <ol class="policy-breadcrumb">
        <li class="breadcrumb-policymaker"><a href="#">Kaupunginvaltuusto</a></li>
        <li class="breadcrumb-policymaker"><a href="#">Kaupunginhallitus</a></li>
        <li class="breadcrumb-policymaker is-empty"><a href="#">Sosiaali- ja terveystoimi</a></li>
        <li class="breadcrumb-policymaker"><a href="#">Sosiaali- ja terveyslautakunta</a></li>
        <li class="breadcrumb-office is-empty"><a href="#">Sosiaali- ja terveysvirasto</a></li>
        <li class="breadcrumb-office"><a href="#">Terveys- ja päihdepalvelut</a></li>
        <li class="breadcrumb-officer"><a href="#">Osastopäällikkö</a></li>
        <li class="breadcrumb-office is-empty"><a href="#">Psykiatria- ja päihdepalvelut</a></li>
        <li class="breadcrumb-officer"><a href="#">Psykiatrian ja päihdehuollon erityispalvelujen päällikkö</a></li>
      </ol>
    </div>
    
  </div>


{% block policymaker_content %}{% endblock %}

{% compress js %}
<script type="text/coffeescript" src="{% static 'js/policymaker.coffee' %}"></script>
{% endcompress %}

{% endblock %}
