{% extends "subpage_base.html" %}
{% load i18n compress static %}

{% block extra_head %}
<script type="text/javascript">
    policymakers = {{pm_list_json|safe}}
    {% if organization %}
    organization_json = {{organization_json|safe}}
    {% endif %}
</script>
{% endblock %}

{% block title %}{% if organization %}{{ organization.name_fi }}{% else %}Päättäjät{% endif %}{% endblock %}

{% block content %}
  <div class="content-header-content">
    <h1 class="policymaker-heading">{% if organization %}{{ organization.name_fi }}{% else %}Päättäjät{% endif %}</h1>

    <ul class="nav-disabled nav-pills-disabled policymaker-nav-disabled">
    </ul>

  </div>


<div class="policymaker-content">
</div>


<script type="text/template" id="policymaker-list-item-template">
<a class="content" href="<%= view_url %>">
    <div class="name-icon">
        <% if (icon) { %><i class="fa fa-<%= icon %>"></i><% } %>
        <h3><%= title %></h3>
    </div>
    <% if (org_hierarchy) { %>
    <div class="org-hierarchy"><%= org_hierarchy %></div>
    <% } %>
</a>
</script>

<script type="text/template" id="policymaker-details-template">
<div class="policy-breadcrumb-navi">
    <ol class="policy-breadcrumb">
        <% 
          for (i in parents) {
            var parent = parents[i];
            var view_url = parent.view_url ? parent.view_url : '#';
        %>
            <li class="breadcrumb-<%= parent.css_class %><% if (!parent.view_url) { %> is-empty<% } %>">
              <a href="<%= view_url %>" <% if (!parent.view_url) { %>class="disabled"<% } %>><%= parent.name %></a>
            </li>
        <% } %>
    </ol>
</div>

<nav>
    <a href="<%= org.view_url %>" class="description-link">Organisaatio ja tehtävät</a>
    <% if (policymaker) { %>
    <a href="#" class="meeting-link" data-toggle="collapse" data-target=".meeting-list">Päätökset <i class="toggle-icon"></i></a>
    <ul class="meeting-list collapse in">
    </ul>
    <% } %>
</nav>
<div class="meeting-details">
    <div class="tab-content">
    <div class="description-tab tab-pane<% if (default_tab == 'description') { %> active<% } %>">
        <% if (org.children.length) { %>
        <h2>Alaorganisaatiot</h2>
        <ul class="policymaker-organisation">
          <% for (i in org.children) {
               var child = org.children[i];
               var view_url = child.view_url ? child.view_url : '#';
          %>
          <li class="policymaker-underling<% if (child.policymaker_slug) { %> has-decisions<% } %>"><a href="<%= view_url %>"><%= child.name_fi %></a></li>
          <% } %>
        </ul>
        <% } %>
        <% if (policymaker) { %>
        <h2>Tehtävät</h2>
        <% if (policymaker.summary) { %><%= policymaker.summary %><% } else { %><i>Ei tarkempaa kuvausta.</i><% } %>
        <% } %>
    </div>
    </div>
</div>
</script>

<script type="text/template" id="policymaker-meeting-list-item-template">
    <li<% if (is_selected) { %> class="selected"<% } %>><a href="<%= view_url %>"><%- number %>/<%- year %> (<%- date_str %>)</a></li>
</script>

<script type="text/template" id="policymaker-meeting-details-template">
    <div class="meeting-details-tab tab-pane">
        <nav>
            <h3>Kokous</h3>
            <div class="back-fwd">
                <% if (prev_meeting) { %>
                <a class="previous-meeting" href="<%= prev_meeting %>">‹‹ edellinen kokous</a>
                <% } else { %>
                <span class="disabled">‹‹ edellinen kokous</span>
                <% } %> |
                <% if (next_meeting) { %>
                <a class="next-meeting" href="<%= next_meeting %>">seuraava kokous ››</a>
                <% } else { %>
                <span class="disabled">seuraava kokous ››</span>
                <% } %>
            </div>
        </nav>
        <article>
            <header>
                <h1><%- policymaker_name %> <%- number %>/<%- year %></h1>
                <time datetime="<%- date %>"><%- date_str %></time>
            </header>
            <ol>
                <% _.each(agenda_items, function (ai) { %>
                <li><a href="<%= ai.permalink %>">
                    <header class="item-header">
                        <div class="index"><%- ai.index %></div>
                        <div class="subject"><%- ai.subject %></div>
                    </header>
                    <% if (ai.summary) { %><p><%- ai.summary %></p><% } %>
                </a></li>
                <% }); %>
            </ol>
        </article>
    </div>
</script>

{% compress js %}
<script type="text/coffeescript" src="{% static 'js/policymaker.coffee' %}"></script>
{% endcompress %}

{% endblock %}
