{% extends "subpage_base.html" %}
{% load static compress %}

{% block extra_head %}
<script type="text/javascript">
    policymakers = {{pm_list_json|safe}}
</script>
{% endblock %}

{% block content %}
<h1 class="policymaker-heading">{% block content_header %}{% endblock %}</h1>

<ul class="nav nav-pills policymaker-nav">
</ul>

{% block policymaker_content %}{% endblock %}

{% compress js %}
<script type="text/coffeescript" src="{% static 'js/policymaker.coffee' %}"></script>
{% endcompress %}

{% endblock %}
