@import "bootstrap/variables.less";
@import "bootstrap-variables.less";
@import "bootstrap/mixins.less";

@text_color: #333;
@border_color: #ddd;
@box_background_color: #E6E6E6;
@box_text_color: #00363e;

@pm_navbar_active_color: #005751;
@org_color_1: #00363e;
@org_color_2: #004d59;
@org_color_3: #39a795;
@org_color_4: #66c6b8;
@org_color_5: #9cdbcb;
@org_color_6: #bfe1db;
@org_color_7: #e1eeee;

@issue_color_1: #671c14;
@issue_color_2: #903332;
@issue_color_3: #bd5d5a;
@issue_color_4: #dba3a5;
@issue_color_5: #ead7da;
@issue_color_6: #f7edef;

@page_side_color: @org_color_5;
@header_color: @org_color_2;

@news_color_2: @issue_color_2;

@issue_list_item_bg_color: @issue_color_6;
@issue_list_item_text_color: @issue_color_1;
@meeting_details_bg_color: @org_color_7;

@issue_main_color: @issue_color_3;
@issue_bg_color: @issue_color_6;
@issue_browse_link_color: #025959;


@charset "UTF-8";

/* Bootstrap overrides */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  // Focus state
  &:focus {
    // Use @page_side_color
    border-color: rgba(85,192,180,.8);
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(85,192,180,.6)");
  }
}

.chosen-container-active .chosen-choices {
    // Use @page_side_color
    border-color: rgba(85,192,180,.8);
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(85,192,180,.6)");
}

footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: @box_text_color;
    h4 {
        a {
            color: @org_color_7;
        }
        font-size: 16px;
        margin: 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        a {
            color: @org_color_7;
        }
    }
    ul.ext-links {
        font-size: 16px;
        font-weight: bold;
        a {
            color: @org_color_4;
        }
        li {
            margin-bottom: 1em;
        }
    }
    p {
        margin-top: 22px;
    }
}

.browse-link {
    &:after {
        content: ' ››';
    }
    &:hover {
        text-decoration: none;
    }
}

body {
    background-image: url('../img/paatokset_bg_vaalea.gif');
}

h1 {
    color: @header_color;
    font-weight: 600;
}

.navbar {
    margin-bottom: 0px;
    .navbar-inner {
        background-color: black;
        background-image: none;
        border: none;
    }
    .brand {
        font-weight: 700;
        sub {
            font-size: 10px;
            color: @org_color_3;
            bottom: 0px;
        }
    }
    .btn-navbar {
        background-image: none;
        background-color: gray;
    }
    li {
        font-weight: 600;
        font-size: 16px;
    }
    .city-link {
        a {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            color: @org_color_4 !important;
        }
    }
}

#logo-right {
    height: 60px;
    text-align: right;
    font-size: 50px;
    img {
        height: 40px;
    }
}

#content-container {
    > h1, .main-heading {
        margin-bottom: 40px;
    }
    background-color: white;
    margin-left: auto; /* 80px */
    margin-right: auto;
    border-left: 8px solid @page_side_color;
    border-right: 8px solid @page_side_color;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 80px;
    width: @gridRowWidth;
    min-height: 800px;
}

/*****************************************
 * Home page                             *
 *****************************************/

#home-header-box {
    background-image: url('../img/paatokset_bg_tumma.gif');
    height: 200px;
    color: white;
    margin-bottom: 20px;
    h1 {
        color: white;
        img {
            height: 50px;
            margin-bottom: 8px;
        }
        sub {
            color: @org_color_4;
            font-weight: 500;
            font-size: 22px;
            margin-left: 8px;
            bottom: -8px;
        }
    }
    p {
        font-weight: 600;
        font-size: 16px;
        color: @org_color_7;
    }
    .left-side {
        width: 50%;
        margin-top: 20px;
        margin-left: 50px;
        float: left;
    }
    .right-side {
        margin-top: 40px;
        padding-right: 30px;
        float: right;
        text-align: right;
        font-weight: bold;
        a {
            color: @org_color_7;
            font-size: 28px;
            font-weight: 700;
        }
    }
}

#home-nav-buttons {
    margin-bottom: 20px;
    height: 180px;
    .nav-button {
        background-color: @org_color_4;
        height: 100%;
        a:hover {
            text-decoration: none;
            color: @box_text_color;
        }
    }
    .content {
        padding: 15px;
        color: @box_text_color;
        h2 {
            margin-top: 0px;
            color: @box_text_color;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1em;
        }
        p {
            font-weight: 600;
            font-size: 16px;
        }
    }
}

#home-recent-content {
    margin-bottom: 20px;
    .box {
        background-color: @org_color_7;
    }
    article {
        padding: 20px;
        h2 {
            margin-top: 0px;
        }
    }
    ul {
        list-style: none;
        height: 300px;
        overflow-y: hidden;
        margin: 0px;
        position: relative;
        li {
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: 700;
            font-size: 16px;
            a {
                text-decoration: none;
            }
        }
    }
    .recent-items {
        color: @news_color_2;
        h2 {
            color: @news_color_2;
        }

        li {
            &:first-child {
                border-top: 1px solid @news_color_2;
            }
            border-bottom: 1px solid @news_color_2;
            a {
                color: @news_color_2;
            }
        }
    }
    .latest-meetings {
        color: @header_color;
        h2 {
            color: @header_color;
        }

        li {
            &:first-child {
                border-top: 1px solid @header_color;
            }
            border-bottom: 1px solid @header_color;
            a {
                color: @header_color;
            }
        }
    }
}

#home-logo-row {
    margin-top: 60px;
    height: 162px;
    .logo {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    .helsinki .logo {
        width: 140px;
    }
    .code-for-europe .logo {
        width: 200px;
    }
    img {
        width: 100%;
    }
}


/*****************************************
 * Issue list view                       *
 *****************************************/

.issue-labels {
    .label {
        font-weight: bold;
    }
    .label-category {
        background-color: @org_color_3;
    }
    .label-district {
        background-color: #333;
    }
}

#issue-list-filter {
    border: 1px solid @border_color;
    .border-radius(3px);
    min-height: 120px;
    padding: 20px;
    margin-bottom: 30px;
    h2 {
        text-transform: uppercase;
        width: 100%;
        border-bottom: 1px solid @border_color;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        color: black;
        margin-top: 0;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .caret {
        margin-right: 6px;
    }
    label {
        float: left;
        margin-bottom: 0px;
        margin-top: 5px;
    }
    select {
        width: 580px;
    }
    input {
        width: 566px;
    }
    .controls > select, input, .chosen-choices {
        margin-bottom: 4px;
    }
}

#issue-list-results {
    margin-bottom: 20px;
    header {
        float: left;
        font-weight: 700;
        font-size: 24px;
        margin-top: 10px;
        display: none;
    }
    .btn-toolbar {
        margin: 0;
    }
}

ul.issue-list-items {
    list-style: none;
    margin-left: 0;

    li {
        a:hover {
            text-decoration: none;
        }
        background-color: @issue_list_item_bg_color;
        overflow: hidden;
        .border-radius(3px);
        padding: 6px 15px 6px 15px;
        margin-bottom: 10px;
        header {
            .clearfix();
        }
        .subject {
            font-weight: 600;
            color: @issue_list_item_text_color;
            float: left;
            width: 500px;
            margin-right: 20px
        }
        .issue-labels {
            width: 220px;
            float: left;
        }
        .content-excerpt {
            font-size: 80%;
            display: block;
            margin-bottom: 0px;
            color: #555;
            em {
                color: @issue_list_item_text_color;
            }
        }
    }
}

#issue-list-items-container .map {
    width: 100%;
    height: 500px;
}

.issue-list-spinner {
    margin-top: 40px;
}

/*****************************************
 * Issue details view                    *
 *****************************************/

.item-details {
    .header-bar {
        color: white;
        background-color: @issue_main_color;
        margin: 0px;
        padding-left: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 22px;
        line-height: 24px;
        font-weight: 700;
    }
    .vertical-list {
        li {
            .clearfix();
            &.active {
                background-color: @issue_bg_color;
            }
            border-bottom: 1px solid @issue_main_color;
            padding: 12px 8px 12px 8px;
            cursor: pointer;
        }
    }

    .navigate-column {
        .meeting-list li {
            &.active {
                .meeting-link {
                    display: block;
                }
                font-weight: bold;
            }
            .policymaker-icon {
                background-color: @page_side_color;
                height: 32px;
                width: 32px;
                float: left;
                font-size: 24px;
                color: #333;
                text-align: center;
                i {
                    padding-top: 4px;
                    display: block;
                }
            }
            .text {
                float: left;
                margin-left: 8px;
                width: 220px;
            }
            .resolution {
                float: right;
                margin-top: 10px;
            }
            .policymaker {
                display: block;
            }
            .meeting-link {
                display: none;
            }
            .meeting-link a {
                margin-top: 8px;
                color: @issue_browse_link_color;
                font-weight: normal;
                text-decoration: underline;
            }
        }
    }
    .content-column {
        h1, h2, h3 {
            color: #333;
        }
        header {
            h1 {
                color: #333;
                font-size: 16px;
                line-height: 20px;
                font-weight: 700;
                margin-left: 16px; // 48px;
                margin-right: 16px;
            }
            border-top: solid 10px @issue_main_color;
        }
        .content {
            h2 {
                font-size: 28px;
            }
            h3 {
                font-size: 16px;
                line-height: 20px;
            }
            overflow: auto;
            padding: 20px 16px 20px 16px;
            background-color: @issue_bg_color;
        }
    }
    .meta-column {
        .section {
            margin-bottom: 16px;
        }
        .identifiers {
            font-size: 14px;
            line-height: 16px;
            font-style: italic;
            color: @issue_main_color;
            .icon {
                float: left;
                font-size: 18px;
                width: 26px;
                height: 32px;
                //color: gray;
            }
            .data {
                float: left;
            }
            .id-label {
                display: block;
                margin-top: -2px;
            }
        }
        .attachment-list {
            margin-left: 0px;
            li {
                .clearfix();
                list-style: none;
                margin-top: 4px;
                padding-bottom: 4px;
                border-bottom: 1px solid @issue_main_color;
                .icon {
                    width: 24px;
                    position: relative;
                    float: left;
                    text-align: center;
                    font-size: 18px;
                    margin-right: 4px;
                    min-height: 24px;
                }
                .name {
                    line-height: 18px;
                    float: left;
                    color: @issue_main_color;
                    width: 220px - 24px - 4px;
                    font-style: italic;
                    a {
                        color: @issue_main_color;
                    }
                }
                &.non-public {
                    color: gray;
                    .name {
                        color: gray
                    }
                }
            }
        }
        .non-public-info {
            font-size: 10px;
            line-height: 14px;
        }
    }
}


/*****************************************
 * Policymaker views                     *
 *****************************************/
#content-container > h1.policymaker-heading {
    margin-bottom: 15px;
}


.policymaker-nav-pill(@color) {
    &> a {
        color: @color;
    }
    .dropdown-toggle .caret {
        border-top-color: @color;
        border-bottom-color: @color;
    }
    .dropdown-menu > li > a {
        &:hover, &:focus {
            color: black;
            background-color: @color;
            background-image: none;
        }
    }
    &.open .dropdown-toggle,
    li.dropdown.open.active > a:hover,
    li.dropdown.open.active > a:focus {
        background-color: @color;
        border-color: @color;
    }
    &.active > a {
        color: white;
    }
}

.policymaker-nav-pill(@color) when (lightness(@color) < 40%) {
}

.policymaker-nav {
    .active > a {
        color: white;
        background-color: @pm_navbar_active_color;
        &:hover {
            background-color: lighten(@pm_navbar_active_color, 10%)
        }
    }
    .list {
        .policymaker-nav-pill(@pm_navbar_active_color);
    }
    .council {
        .policymaker-nav-pill(@org_color_1);
    }
    .government {
        .policymaker-nav-pill(@org_color_2);
    }
    .committee {
        .policymaker-nav-pill(@org_color_3);
    }
    .board {
        .policymaker-nav-pill(@org_color_4);
    }
    .other {
        .policymaker-nav-pill(@org_color_5);
    }
    margin-bottom: 40px;
}

.policymaker-content {
    min-height: 1000px;
}

.policymaker-list {
    margin-left: 100px;

    > h2 {
        font-weight: 700;
        margin-top: 24px;
    }
    .row {
        margin-bottom: 16px;
    }
    .org-box {
        height: 120px;
        cursor: pointer;
    }
    .span3 .content h3 {
        width: 220px - 48px - 16px;
    }
    .content {
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        h3 {
            color: black;
            font-size: 24px;
            font-weight: 600;
            line-height: 28px;
            margin: 0px;
            display: block;
            float: left;
        }
        i {
            color: black;
            float: right;
            font-size: 24px;
            margin-right: 16px;
        }
    }

    .org-type-box(@color) {
        background-color: @color;
        &:hover {
            background-color: lighten(@color, 10%);
        }
    }
    .org-type-box(@color) when (lightness(@color) < 40%) {
        h3, i {
            color: white;
        }
    }

    .council {
        .org-type-box(@org_color_1);
    }
    .government {
        .org-type-box(@org_color_2);
    }
    .committee {
        .org-type-box(@org_color_3);
    }
    .board {
        .org-type-box(@org_color_4);
    }
    .other {
        .org-type-box(@org_color_5);
    }
}

.policymaker-details {
    .makeRow;

    > nav {
        .makeColumn(4);
        > a {
            display: block;
            color: @textColor;
            text-decoration: underline;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 20px;
            .caret {
                margin-top: 8px;
                margin-left: 8px;
            }
        }
        ul {
            list-style: none;
            margin: 0;
        }
        li {
            border-bottom: 1px solid @border_color;
            border-left: 1px solid @border_color;
            border-right: 1px solid @border_color;
            padding: 8px;
            cursor: pointer;
            &.selected {
                background-color: @meeting_details_bg_color;
            }
            > a {
                &:hover {
                    text-decoration: none;
                }
                color: @header_color;
            }
        }
        li:first-child {
            border-top: 1px solid @border_color;
        }
    }

    > .meeting-details {
        .makeColumn(7);
        nav {
            .clearfix;
            h3 {
                float: left;
                font-size: 18px;
                line-height: 18px;
                margin-top: 0px;
                text-transform: uppercase;
                color: @header_color;
            }
            .back-fwd {
                float: right;
                a {
                    color: lighten(@header_color, 5%);
                }
            }
        }
        article {
            background-color: @meeting_details_bg_color;
            //border: 1px solid black;
            > header {
                padding: 20px;
                h1 {
                    font-size: 28px;
                    font-weight: 700;
                    color: #333;
                    margin-bottom: 0px;
                    margin-top: 0px;
                    line-height: 32px;
                }
                time {
                    font-size: 20px;
                    font-weight: 700;
                    color: #888;
                }
            }
            ol {
                margin: 0px;
                list-style: none;
            }
            li {
                border-top: 1px solid black;
                padding: 20px;
                cursor: pointer;
                .item-header {
                    .clearfix;
                    font-size: 20px;
                    font-weight: 700;
                    color: #333;
                }
                .index {
                    float: left;
                    width: 40px;
                }
                .subject {
                    float: left;
                    width: 458px;
                    hyphens: auto;
                }
            }
        }
        .description-tab {
            h2 {
                font-weight: 700;
                margin-top: 0px;
                line-height: 32px;
            }
        }
    }
}


/*****************************************
 * About views                           *
 *****************************************/

.about-info-column {
    h4 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    img {
        margin-bottom: 40px;
    }
}

.about-feedback-column {
    background-color: @org_color_7;
    .content {
        padding: 20px;
    }
    .logos {
        border-top: 1px solid black;
        img {
            max-height: 80px;
            max-width: 120px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 40px;
        }
    }
}
