@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

@page_side_color: #55C0B4;
@border_color: #ddd;
@box_background_color: #E6E6E6;
@box_text_color: #00363e;
@header_color: #004D59;
@news_color_2: #8F3332;
@issue_list_item_bg_color: #FBF1F3;
@issue_list_item_text_color: #671C14;
@issue_main_color: #D15A4D;
@issue_bg_color: #F7DFDC;
@issue_browse_link_color: #025959;

@charset "UTF-8";

/* Bootstrap overrides */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  // Focus state
  &:focus {
    // Use @page_side_color
    border-color: rgba(85,192,180,.8);
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(85,192,180,.6)");
  }
}

footer {
    padding-top: 40px;
    height: 60px;
    background-color: @box_text_color;
    p {
        margin-top: 22px;
    }
}

.browse-link {
    &:after {
        content: ' ››';
    }
    &:hover {
        text-decoration: none;
    }
}

body {
    background-image: url('../img/paatokset_bg_vaalea.gif');
}

h1 {
    color: @header_color;
    font-weight: 600;
}

.navbar {
    margin-bottom: 0px;
    .navbar-inner {
        background-color: black;
        background-image: none;
        border: none;
    }
    .brand {
        margin-left: 80px;
        font-weight: 700;
    }
    .btn-navbar {
        background-image: none;
        background-color: gray;
    }
    li {
        font-weight: 600;
        font-size: 16px;
    }
}

#logo-right {
    height: 60px;
    text-align: right;
    font-size: 50px;
    img {
        height: 40px;
    }
}

#content-container {
    > h1 {
        margin-bottom: 40px;
    }
    background-color: white;
    margin-left: auto; /* 80px */
    margin-right: auto;
    border-left: 8px solid @page_side_color;
    border-right: 8px solid @page_side_color;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 80px;
    width: @gridRowWidth;
}

/*****************************************
 * Home page                             *
 *****************************************/

#home-header-box {
    background-image: url('../img/paatokset_bg_tumma.gif');
    height: 200px;
    color: white;
    margin-bottom: 20px;
    h1 {
        color: white;
        img {
            height: 50px;
            margin-bottom: 8px;
        }
    }
    p {
        font-weight: 600;
        font-size: 16px;
        color: #BFE1DB;
    }
    .left-side {
        width: 50%;
        margin-top: 20px;
        margin-left: 50px;
        float: left;
    }
    .right-side {
        margin-top: 40px;
        padding-right: 30px;
        float: right;
        text-align: right;
        font-weight: bold;
        a {
            color: @box_background_color;
            font-size: 28px;
            font-weight: 900;
        }
    }
}

#home-nav-buttons {
    margin-bottom: 20px;
    height: 180px;
    .nav-button {
        background-color: @page_side_color;
        height: 100%;
        a:hover {
            text-decoration: none;
            color: @box_text_color;
        }
    }
    .content {
        padding: 15px;
        color: @box_text_color;
        h2 {
            margin-top: 0px;
            color: @box_text_color;
            font-weight: 900;
        }
        p {
            font-weight: 600;
            font-size: 16px;
        }
    }
}

#home-recent-content {
    margin-bottom: 20px;
    .box {
        background-color: @box_background_color;
    }
    article {
        padding: 20px;
        h2 {
            margin-top: 0px;
        }
    }
    ul {
        list-style: none;
        height: 300px;
        overflow-y: hidden;
        margin: 0px;
        position: relative;
        li {
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: 700;
            font-size: 16px;
            a {
                text-decoration: none;
            }
        }
    }
    .recent-items {
        color: @news_color_2;
        h2 {
            color: @news_color_2;
        }

        li {
            &:first-child {
                border-top: 1px solid @news_color_2;
            }                
            border-bottom: 1px solid @news_color_2;
            a {
                color: @news_color_2;
            }
        }
            
    }
    .latest-meetings {
        color: @header_color;
        h2 {
            color: @header_color;
        }

        li {
            &:first-child {
                border-top: 1px solid @header_color;
            }                
            border-bottom: 1px solid @header_color;
            a {
                color: @header_color;
            }
        }
    }
}

#home-logo-row {
    margin-top: 60px;
    height: 162px;
    .logo {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    .helsinki .logo {
        width: 140px;
    }
    img {
        width: 100%;
    }
}


/*****************************************
 * Issue list view                       *
 *****************************************/

#issue-list-filter {
    border: 1px solid @border_color;
    .border-radius(3px);
    min-height: 120px;
    padding: 20px;
    margin-bottom: 30px;
    h2 {
        text-transform: uppercase;
        width: 100%;
        border-bottom: 1px solid @border_color;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        color: black;
        margin-top: 0;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .caret {
        margin-right: 6px;
    }
    label {
        float: left;
        margin-bottom: 0px;
        margin-top: 5px;
    }
}

#issue-list-results {
    margin-bottom: 20px;
    header {
        float: left;
        font-weight: 700;
        font-size: 24px;
        margin-top: 10px;
    }
    .btn-toolbar {
        margin: 0;
    }
}

#issue-list-items {
    li {
        background-color: @issue_list_item_bg_color;
        overflow: hidden;
        border: 1px solid @border_color;
        .border-radius(3px);
        padding: 6px 15px 6px 15px;
        margin-bottom: 10px;
        .subject {
            font-weight: 600;
            color: @issue_list_item_text_color;
            float: left;
            width: 500px;
            margin-right: 20px
        }
        .district {
            width: 110px;
            float: left;
        }
        .category {
            width: 110px;
            float: left;
        }
    }
}

/*****************************************
 * Issue details view                    *
 *****************************************/

.item-details {
    .header-bar {
        color: white;
        background-color: @issue_main_color;
        margin: 0px;
        padding-left: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 22px;
        line-height: 24px;
        font-weight: 900;
    }
    .vertical-list {
        li {
            .clearfix();
            &.active {
                background-color: @issue_bg_color;
            }
            border-bottom: 1px solid @issue_main_color;
            padding: 12px 8px 12px 8px;
            cursor: pointer;
        }
    }

    .navigate-column {
        .decision-history li {
            &.active {
                .meeting-link {
                    display: block;
                }
            }
            .policymaker-icon {
                background-color: @page_side_color;
                height: 32px;
                width: 32px;
                float: left;
                font-size: 24px;
                color: #333;
                text-align: center;
                i {
                    padding-top: 4px;
                    display: block;
                }
            }
            .text {
                float: left;
                margin-left: 8px;
            }
            .resolution {
                float: right;
                margin-top: 10px;
            }
            .policymaker {
                display: block;
            }
            .meeting-link {
                display: none;
            }
            .meeting-link a {
                margin-top: 8px;
                color: @issue_browse_link_color;
                font-weight: 700;
                text-decoration: underline;
            }
        }
    }
    .content-column {
        border: solid 1px @issue_main_color;
        h1, h2, h3 {
            color: #333;
        }
        header {
            h1 {
                color: #333;
                font-size: 16px;
                line-height: 20px;
                font-weight: 700;
                margin-left: 48px;
                margin-right: 16px;
            }
            border-top: solid 10px @issue_main_color;
        }
        .content {
            h2 {
                font-size: 28px;
            }
            h3 {
                font-size: 16px;
                line-height: 20px;
            }
            overflow: auto;
            padding: 20px 16px 20px 16px;
            background-color: @issue_bg_color;
        }
    }
    .meta-column {
        .section {
            margin-bottom: 16px;
        }
        .identifiers {
            font-size: 14px;
            line-height: 16px;
            font-style: italic;
            color: @issue_main_color;
            .icon {
                float: left;
                font-size: 24px;
                width: 32px;
                height: 32px;
                color: gray;
            }
            .data {
                float: left;
            }
            .id-label {
                display: block;
                margin-top: -2px;
            }
        }
        .attachment-list {
            margin-left: 0px;
            li {
                .clearfix();
                list-style: none;
                margin-top: 4px;
                padding-bottom: 4px;
                border-bottom: 1px solid @issue_main_color;
                .icon {
                    width: 24px;
                    position: relative;
                    float: left;
                    text-align: center;
                    font-size: 24px;
                    margin-right: 4px;
                    min-height: 24px;
                }
                .name {
                    line-height: 24px;
                    float: left;
                    color: @issue_main_color;
                    width: 220px - 24px - 4px;
                    font-style: italic;
                    a {
                        color: @issue_main_color;
                    }
                }
                &.non-public {
                    .icon {
                        color: gray;
                    }
                }
            }
        }
        .non-public-info {
            font-size: 10px;
            line-height: 14px;
        }
    }
}

.policymaker-nav {
    
}
